body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

a {
	cursor: pointer;
	color: #4bbaf7;
}

a:hover {
	text-decoration: underline;
}

ul,
ol {
    margin: 0;
}

ul li {
    list-style: none;
}

header {
    display: inline-block;

    width: 100%;

    color: #e0f2f1;
    background: #004d40;
}

nav ul li {
    float: left;

    margin-right: 18px;
}

	nav {
		padding: 14px 0;
		width: 100%;
		display: inline-block;
	}

	.logo {
	    display: block;
	}

		.logo img {
			width: 68px;
		}

.right-nav {
	float: right;
	color: #004d40;
}

	.search-cards {

	}

	.view-mode {
	    padding: 4px 0;		
	}

	.greet-user {
		color: #fff;
		font-size: 16px;
	}

		.greet-user span {
			font-weight: 600;
			cursor: pointer;
		}

form h2 {
	margin: 0;
    font-size: 16px;	
}		

.btn {
	position: relative;
	padding: 8px 30px;
	border: 0;
	margin: 10px 1px;
	cursor: pointer;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.84);
	transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	outline: none !important;
}

.btn-primary {
	background-color: #009688;
}

.btn-secondary {
	background-color: #727272;
}

.close-btn {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 20px;
	cursor: pointer;
}

.fog-blanket {
	background: #000 none repeat scroll 0% 0%;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2500;
	opacity: 0.5;
	transition: opacity 0.2s ease 0.1s;	
}

	.visible {
		visibility: visible;
	}

.validation-message {
    float: right;
    font-size: 13px;
    background: red;
    color: white;
    padding: 3px 12px;
    border-radius: 5px;	
}

.user-name-section,
.topic-section {
	position: fixed;
	width: 25%;
	box-sizing: border-box;
	background: #ddd;
	border-radius: 14px;
	padding: 50px;
	box-shadow: 0px 0px 23px -3px #333;
	top: 75%;
	bottom: 37.5%;
	overflow: hidden;
	left: 62.5%;
	margin-left: -25%;
	margin-top: -25%;
	z-index: 3500;
}

	.user-name-section div,
	.topic-section div {
		width: 100%;
		padding: 15px 0;
	}

	.user-name-section input[type="text"],
	.topic-section input[type="text"] {
		width: 100%;
	}		

.create-card-section,
.collection-section {
	position: fixed;
	width: 50%;
	box-sizing: border-box;
	background: #ddd;
	border-radius: 14px;
	padding: 50px;
	box-shadow: 0px 0px 23px -3px #333;
	top: 50%;
	bottom: 12.5%;
	overflow: hidden;
	left: 50%;
	margin-left: -25%;
	margin-top: -25%;
	z-index: 3500;
}

	.create-card-section div,
	.collection-section div {
		width: 100%;
		padding: 15px 0;
	}
	
	.create-card-section input[type="text"],
	.create-card-section textarea,
	.collection-section input[type="text"]{
		width: 100%;
	}

	.create-card-section textarea {
		height: 260px;
		overflow-y: scroll;
		resize: none;
	}

	.add-topic-link {
		margin-left: 12px;
		font-size: 12px;
	}

	.create-card-section label,
	.collection-section label {
		font-size: 13px;
		cursor: pointer;
	}

.view-card-section {
	position: fixed;
	width: 50%;
	box-sizing: border-box;
	background: #fff;
	border-radius: 14px;
	padding: 50px;
	box-shadow: 0px 0px 23px -3px #333;
	top: 50%;
	bottom: 12.5%;
	overflow: hidden;
	left: 50%;
	margin-left: -25%;
	margin-top: -25%;
	z-index: 3500;
}
	
	.view-card-section .card-text {
		height: 425px;
		overflow-y: scroll;
	}

	.view-thumb-list {
		height: 80px;
	}

		.view-thumb-list img {
			height: 60px;
			margin: 10px;
		}

.card-miniature {
    float: left;
    box-shadow: 0px 0px 20px -5px #bbb;
    overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

.grid-view .card-miniature {
	width: 23%;
    padding: 25px;
    border-radius: 20px;
    margin: 1.5% 0 0 1.5%;
    height: 200px;
}

.list-view .card-miniature {
	width: 97%;
    padding: 15px;
    border-radius: 14px;
    margin: 10px 1.5%;
    height: 100px;
}

	.flashcard {
		background-color: #FFF59D;
	}

	.data-container {

	}
	
	.data-container:hover {
		cursor: pointer;
		background: #efefef;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
	}

	.grid-view .data-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		height: 100%;
	}	

	.list-view .data-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		height: 100%;
	}

		.topic {
			font-size: 12px;
			font-style: italic;
		}

		.card-miniature .note h3 {
			height: 30px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin: 0;
		}

		.card-miniature .flashcard h3 {

		}		

		.card-miniature p {
			height: 30px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin: 0;
		}

	.thumbs-container {
		font-size: 13px;
	}

	.grid-view .thumbs-container {

	}	

	.list-view .thumbs-container {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 12px 0 12px;
	}

		.card-thumb {
			margin-right: 10px;
			float: left;
		}

		.card-thumb:hover {
			cursor: pointer;
		}

		.list-view .card-thumb {
			height: 50px;
		}

		.grid-view .card-thumb {
			width: 40px;
		}

	.card-actions {
		position: absolute;
		bottom: 0;	
		font-size: 12px;
		box-sizing: border-box;		
	}

	.list-view .card-actions {
		right: 0;
		padding: 2px 10px;
	}	

	.grid-view .card-actions {
		padding: 8px 10%;
		background: #eee;
		width: 100%;
		left: 0;		
	}

		.remove-card {
			float: right;
		}

		.list-view .remove-card {
			margin-left: 20px;
		}

.thumb-list {

}

	.thumb {
		height: 75px;
		border: 1px solid #000;
		margin: 10px 5px 0 0;
	} 

.switch-view {
    padding: 8px 6px;
    font-size: 12px;
}